# tmp integration_db.bin
src/test/java/com/google/sps/integration/tmp/
target/
src/main/webapp/config.js
.DS_Store

# API keys
**/config.js

# packages used for Karma
node_modules/

# IntelliJ specific project files
.idea/
portfolio.iml

# vim swap files
**/*.swp

#jasmine installation
jasmine-3.6.0
