html {
  height: 100%;
  margin: 0;
  padding: 0;

}

body{
  width:100%;
  font-family: Nunito Sans;
  font-size: 18px;
}

#page-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header-bar{
  position: fixed;
  width: 100%;
  min-height: 40px;
  top: 0px;
  background: #668EDB;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#header-text{
  font-style: normal;
  font-weight: bold;
  font-size: 150%;
  left: 5%;
  line-height: 100%;
  color: #FFFFFF;
  margin: 0 10%;
}

#header-bar a:hover {
  text-decoration: none;
}

#content{
  width: 100%;
  flex: 1; 
  padding-bottom: 5%;
}

.page-title-text p {
  height: 35%;
  margin-top: 10%;
  font-style: normal;
  font-weight: normal;
  font-size: 5vmin;
  line-height: 120%;
}

#register-buttons{
  margin-top: 4.5%;
}

#register-buttons div{
  min-height: 10vmin;
  height:auto;
  font-style: normal;
  font-weight: bold;
  font-size: 3vmin;
  text-align: center;
  color: #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#register-buttons div a{
  text-decoration: none;
}

#turbo-vote-button{
  background: #DB6666;
  border: 1px solid #DB6666;
  
}

#turbo-vote-button:hover{
  background: #FFFFFF;
  color: #DB6666;

}

#show-elections-button{
  background: #668EDB;
  border: 1px solid #668EDB;
}

#show-elections-button:hover{
  background: #FFFFFF;
  color: #668EDB;
}

#about-bar{
  width: 100%;
  min-height: 20%;
  bottom: 0;
  height: auto;
  background: #BED4FF;
}

.icon{
  float: left;
  margin-right: 8%;
  width:10vmin;
  height:10vmin;
  padding-top: 2%;
  clear: both;
}

#about-content{
  width:70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.about-info-container{
  padding-top: 2.5%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}


.description-heading{
  font-style: normal;
  font-weight: bold;
  font-size: 2vmin;
  overflow: hidden;
}

.description-body{
  font-style: normal;
  font-weight: normal;
  font-size: 1.8vmin;
  overflow: hidden;
}

#dropdown-title {
  color: #668EDB;
  font-weight: bold;
}

#election-info-page-title {
  color: #668EDB;
  font-weight: bold;
}

#state-dropdown {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2vmin 0;
}

#state-dropdown > select {
  background-color: #FFFFFF;
  border: 1px solid #C5C5C5;
  border-radius: 20px;
  font-size: 2vmin;
  padding: 0.8vmin 2.5vmin;
  cursor: pointer;
  outline: none;
}

#election-list-content {
  margin: 2% 27%;
}

#election-list-content > h3 {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 40px;
}

.election-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.election-quick-details p {
  font-size: 2.5vmin;
}

.learn-more-button {
  background: #FFFFFF;
  border: 1px solid #668EDB;
  border-radius: 10px;
  color: #668EDB;
  font-weight: bold;
  padding: 10px;
  display: flex;
  height: 50%;
}

.learn-more-button:hover {
  background: #668EDB;
  border: 1px solid #668EDB;
  color: #FFFFFF;
  cursor: pointer;
}

.election-choice-js:hover {
  text-decoration: none;
}

#address {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 2vmin;
  height: auto;
  text-align: center;
  align-content: center;
  flex-direction: column;
}

.input-wrapper {
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2vmin;
  height: auto;
  align-content: center;
  flex-direction: column;
}

#locationField {
  margin-bottom: 2.5%;
}


#autocomplete {
  width: 70%;
}

.election-name {
  color: black;
}

.address-row-wrapper{
  margin-bottom: 3%;
}

.generic-button {
  background: #668EDB;
  padding: 10px;
  height: 50%;
  margin-top: 2.5%;
  outline: none;
  min-height: 5vmin;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5vmin;
  text-align: center;
  color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.generic-button:disabled {
  background-color: #B8D2EA;
  color: #9A9A9A;
}

.generic-button:enabled:hover, div.generic-button:hover{
  background: #FFFFFF;
  border: 1px solid #668EDB;
  color: #668EDB;
  cursor: pointer;
}

.generic-button:disabled:hover {
  cursor: not-allowed;
}

#address-button-container div a{
  text-decoration: none;
}

#address-error-wrapper {
  height: 5px;
}

#address-error-text {
  color: red;
  font-style: italic;
}

.noborder {
  border: none;
  box-shadow: none;
}

.form-control {
  background-color: #FFFFFF !important;
  border-radius: 20px;
  font-size: 18px;
}

.required:after {
  content:" *";
  color: red;
}

#chosen-election {
  color: #000000;
}

#info-cards-title {
  margin-left: 17%;
  margin-bottom: 20px;
  margin-top: 40px;
  font-weight: bold;
}

#no-polling-stations {
  margin-left: 17%;
  margin-bottom: 20px;
  margin-top: 40px;
  font-weight: bold;
  align-content: center;
}

.info-cards-wrapper {
  width: 100%;
}

.info-card-title {
  font-weight: bold;
  font-size: 150% ;
  padding: 18px;
}

.info-card {
  background-color: white;
  border: 1.5px solid #E5E5E5;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 5%;
}

.candidates-wrapper {
  padding-left: 18px;
  padding-right: 18px;
}

.candidate {
  background-color: #E5E5E5;
  margin-top: 3%;
  margin-bottom: 3%;
}

.candidate-name {
  padding: 3%;
  background-color: #E5E5E5;
  color: #444;
  border: none;
}

.referendum-name {
  background-color: white;
  border: none;
  width: 100%;
  padding: 0;
  text-align: left;
  outline: none;
}

.referendum-description{
  padding: 2%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
}

/* Add a background color to the candidate button if it is clicked on (add the .active class with JS), 
   and when you move the mouse over it (hover) */
.candidate-name.active, .candidate-name.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
  padding: 0px 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.candidate-info {
  background-color: #EFEFEF;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: black;
  float: right;
  margin-left: 5px;
}

.collapsible-content p {
  margin: 18px 0;
}

.source-text {
  font-size: 11pt;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#polling-stations-map {
  height:100%;
  width:100%;
}

#spinner{
  visibility: hidden;
  width: 80px;
  height: 80px;

  border: 2px solid #f3f3f3;
  border-top:3px solid #f25a41;
  border-radius: 100%;

  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
  }
}

#spinner.show {
  visibility: visible;
}

#deadlines-wrapper {
  border-color: #668EDB;
  border-radius: 10px;
}

#dates-and-deadlines {
  background: rgba(102, 142, 219, 0.36);
  margin: 0 15%;
  padding: 15px 30px;
  border-radius: 10px;
}